/.editorconfig
/.env
/.git
/.gitattributes
/.github
/.gitignore
/.idea
/.phpactor.json
/.phpunit.cache
/.vscode
/docker-compose.yml
/node_modules
/storage/app/backups
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.dockerignore
Dockerfile
docker-compose.yml
*.md
phpunit.xml
phpstan.neon
pint.json
!public/build
!public/build/**